# directories
backup/
.*/
original/
precompiled/
bin/
obj/
build/
builds/
build_*/
generated/
.vscode/
packages/
pkg/
vendor/

# files
*~
*.bak
*.backup
.keep
.keep*
*.tar
*.tar.bz
*.tar.bz2
*.gz
*.html
*.example
*.sample
*.dll
*.so
*.obj
*.a
*.exe
*.gif
*.jpg
*.png
*.lock
*.pid
*.cache
*.pb.cc
*.swp
*.sw?
